<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Mulai Penjualan</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-8">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">&nbsp;</h3>
                        </div>
                        <form class="form-horizontal" th:object="${sales}" method="post">
                            <div class="box-body">

                                <div class="form-group">
                                    <label for="car" class="col-sm-2 control-label">Mobil</label>
                                    <div class="col-sm-10">
                                        <select class="selectpicker form-control"
                                                th:field="*{car}"
                                                data-size="5"
                                                data-error="Mobil tidak boleh kosong."
                                                id="car"
                                                data-live-search="true"
                                                title="Pilih Mobil..." required="true">
                                            <option th:each="car : ${cars}" th:value="${car.id}" th:text="${car.name + ' - ' + car.color + ' - ' + car.year}">
                                                -- Pilih Mobil --
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="customer" class="col-sm-2 control-label">Customer</label>
                                    <div class="col-sm-10">
                                        <select class="selectpicker form-control"
                                                th:field="*{customer}"
                                                data-size="5"
                                                data-error="Customer tidak boleh kosong."
                                                id="customer"
                                                data-live-search="true"
                                                title="Pilih Customer..." required="true">
                                            <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name + ' - ' + customer.contactNumber}">
                                                -- Pilih Customer --
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="price" class="col-sm-2 control-label">Harga</label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                               th:field="*{price}"
                                               name="price" class="form-control" id="price" placeholder="Harga"/>
                                        <label class="control-label" th:errors="*{price}">
                                            Pesan error nanti di sini
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="description" class="col-sm-2 control-label">Keterangan</label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                               th:field="*{description}"
                                               name="description" class="form-control" id="description" placeholder="Keterangan"/>
                                        <label class="control-label" th:errors="*{description}">
                                            Pesan error nanti di sini
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <a th:href="@{/sales/list}" class="btn btn-default" role="button">
                                            <span aria-hidden="true"></span>Batal
                                        </a>
                                        <button type="submit" class="btn btn-default">Simpan</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>