<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Change Password</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Form Change Password</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Form Change Password</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div th:if="${success == false}" class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                <label th:text="${message}"></label>
            </div>
            <div th:if="${success}" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Success!</h4>
                Success to change password
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Form</h3>
                </div>
                <div class="box-body">
                    <form th:action="@{/user/change-password}" method="post" role="form">
                        <div class="box">
                            <div class="box-header"><br/>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Old Password<span
                                                style="color: red;">*</span></label>
                                        <div class="col-md-4">
                                            <input name="oldPassword" type="password" class="form-control"
                                                   placeholder="Old password" required=""
                                                   oninvalid="this.setCustomValidity('Insert your old password')"
                                                   oninput="setCustomValidity('')"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">New Password<span
                                                style="color: red;">*</span></label>
                                        <div class="col-md-4">
                                            <input name="newPassword" type="password" class="form-control"
                                                   placeholder="New Password Baru" id="password" required=""
                                                   oninvalid="this.setCustomValidity('Insert your new password')"
                                                   oninput="setCustomValidity('')"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Confirm for a new password<span
                                                style="color: red;">*</span></label>
                                        <div class="col-md-4">
                                            <input type="password" class="form-control"
                                                   placeholder="Confirm your new password" id="confirm_password"
                                                   required=""
                                                   oninvalid="this.setCustomValidity('Your confirm password did not exact!')"
                                                   oninput="setCustomValidity('')"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <br/><br/>
                                <br/><br/>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="pull-right">
                                <a><input class="btn btn-primary" type="submit" role="button" value="Save"/></a>
                                <a class="btn btn-default">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value !== confirm_password.value) {
                confirm_password.setCustomValidity("Confirm password not appropriate!");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
</div>
</body>
</html>