<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>Edit Profile</title>
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>Form Edit Profile</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Form Edit Profile</li>
            </ol>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-12">
                    <div th:if="${success == false}" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        <label th:text="${message}"></label>
                    </div>
                    <div th:if="${success}" class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Success!</h4>
                        Success to update profile
                    </div>
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Form</h3>
                        </div>
                        <div class="box-body">
                            <form th:action="@{/user/edit-profile}" th:object="${user}" method="post">
                                <input type="hidden" th:field="*{id}" />

                                <div class="col-sm-12">
                                    <div class="form-group pull-left">
                                        <a th:href="@{/}" class="btn btn-danger" role="button">
                                            <span aria-hidden="true"></span>Cancel
                                        </a>
                                        <button onclick="return confirm('Are you sure save the data?')" type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" >
                                        <label>Username</label>
                                        <input type="text" th:field="*{username}" name="username" class="form-control" placeholder="Username" />
                                        <label class="control-label error-label" th:errors="*{username}"></label>
                                    </div>
                                    <div class="form-group" >
                                        <label>Email</label>
                                        <input type="text" th:field="*{email}" name="email" class="form-control" placeholder="Email" />
                                        <label class="control-label error-label" th:errors="*{email}" ></label>
                                    </div>
                                    <div class="form-group" >
                                        <label>Last Login</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="lastLoginDate" th:field="*{lastLogin}" required="true"/>
                                        </div>
                                        <label class="control-label error-label" th:errors="*{lastLogin}" ></label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" >
                                        <label>Test</label>
                                        <input type="text" class="form-control" placeholder="Test" />
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript" th:inline="javascript">
                $(document).ready(function () {
                    $('#lastLoginDate').datepicker({
                        autoclose: true,
                        clearBtn: true,
                        format: "yyyy-mm-dd",
                        todayHighlight: true
                    }).on('changeDate', function (e) {
                        $('#lastLoginDate').datepicker('setDate', e.date);
                    });
                });
            </script>
        </div>
    </body>
</html>