<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
    <head>
        <title>User</title>
        <script language="JavaScript">
            $(document).ready(function () {
                $(".remove-data").each(function () {
                    $(this).click(function () {
                        if (confirm('Data will be deleted?'))
                            return true;
                        return false;
                    });
                });
            });
        </script>
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>List User</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">User</li>
            </ol>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <a class="box-title btn btn-primary" th:href="@{/matakuliah/form}">Add User</a>
                            <div class="box-tools">
                                <form th:action="@{/user/list}" method="get">
                                    <div class="input-group input-group-sm" style="width: 250px;">
                                        <input type="text" name="username" class="form-control pull-right" placeholder="Search By Username" th:if="${username} == null"/>
                                        <input type="text" name="username" class="form-control pull-right" placeholder="Search By Username" th:if="${username} != null" th:value="${username}" />
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th align="center">Username</th>
                                        <th align="center">Email</th>
                                        <th align="center">Jabatan</th>
                                        <th align="center">Last Login</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    <tr th:each="user : ${data.content}">
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td><span th:each="a, iterStat : ${user.roles}" th:text="!${iterStat.last} ? ${a.name} + ',': ${a.name}"></span></td>
                                        <td th:text="${user.lastLogin}"></td>
                                        <td>
                                            <a href="#" class="btn btn-info" th:href="@{/user/form(id=${user.id})}" title="Edit User"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a href="#" class="btn btn-info" th:href="@{/user/delete(id=${user.id})}" title="Delete User"><span class="glyphicon glyphicon-remove-circle remove-data"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:if="${not #lists.isEmpty(data.content)}">
                            <br/>
                            <div class="text-center"> 
                                <nav>
                                    <ul class="pagination" sd:pagination="full">
                                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>