<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Error Page</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Error Page</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">error</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="error-page">
        <h2 class="headline text-yellow" th:text="${status}"></h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! error happend.</h3>
            <p th:text="${message}"></p>
            <p>Meanwhile, you may <a href="/">return to dashboard</a></p>
        </div>
    </div>
</div>
</body>
</html>