<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Data Customer</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">&nbsp;</h3>
                        </div>
                        <form th:object="${customer}" method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name">Nama</label>
                                    <div>
                                        <input type="text"
                                               th:field="*{name}"
                                               name="name" class="form-control" id="name" placeholder="Nama"/>
                                        <label class="control-label" th:errors="*{name}">
                                            Pesan error nanti di sini
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="name">No. Kontak</label>
                                    <div>
                                        <input type="text"
                                               th:field="*{contactNumber}"
                                               name="contactNumber" class="form-control" id="contactNumber" placeholder="No. Kontak"/>
                                        <label class="control-label" th:errors="*{contactNumber}">
                                            Pesan error nanti di sini
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div>
                                        <a th:href="@{/customer/list}" class="btn btn-default" role="button">
                                            <span aria-hidden="true"></span>Batal
                                        </a>
                                        <button type="submit" class="btn btn-default">Simpan</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>