<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
    <head>
        <title>Customer</title>
        <script language="JavaScript">
            $(document).ready(function () {
                $(".remove-data").each(function () {
                    $(this).click(function () {
                        if (confirm('Data will be deleted?'))
                            return true;
                        return false;
                    });
                });
            });
        </script>	
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>Daftar Customer</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Daftar Customer</li>
            </ol>	
        </div>
        <div layout:fragment="content">	
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <a class="box-title btn btn-primary" th:href="@{/customer/form}">Tambah Data Customer</a>
                            <div class="box-tools">
                                <form th:action="@{/customer/list}" method="get">
                                    <div class="input-group input-group-sm" style="width: 250px;">
                                        <input type="text" name="value" class="form-control pull-right" placeholder="Pencarian Berdasarkan Nama Customer" th:if="${key} == null"/>
                                        <input type="text" name="value" class="form-control pull-right" placeholder="Pencarian Berdasarkan Nama Customer" th:if="${key} != null" th:value="${key}" />
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Nama</th>
                                        <th>No. Kontak</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    <tr th:each="customer,iter : ${customers.content}">
                                        <td th:text="${customer.name}"></td>
                                        <td th:text="${customer.contactNumber}"></td>
                                        <td>
                                            <a href="#" class="btn btn-info" th:href="@{/customer/form(id=${customer.id})}" title="edit data customer"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a href="#" class="btn btn-info" th:href="@{/customer/delete(id=${customer.id})}" title="hapus data customer"><span class="glyphicon glyphicon-remove-circle remove-data"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:if="${not #lists.isEmpty(customers.content)}">
                            <br/>
                            <div class="text-center"> 
                                <nav>
                                    <ul class="pagination" sd:pagination="full">
                                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>