<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
    <head>
        <title>Mobil</title>
        <script language="JavaScript">
            $(document).ready(function () {
                $(".remove-data").each(function () {
                    $(this).click(function () {
                        if (confirm('Data will be deleted?'))
                            return true;
                        return false;
                    });
                });
            });
        </script>	
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>Daftar Mobil</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Daftar Mobil</li>
            </ol>	
        </div>
        <div layout:fragment="content">	
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <a class="box-title btn btn-primary" th:href="@{/car/form}">Tambah Data Mobil</a>
                            <div class="box-tools">
                                <form th:action="@{/car/list}" method="get">
                                    <div class="input-group input-group-sm" style="width: 250px;">
                                        <input type="text" name="value" class="form-control pull-right" placeholder="Pencarian Berdasarkan Nama Mobil" th:if="${key} == null"/>
                                        <input type="text" name="value" class="form-control pull-right" placeholder="Pencarian Berdasarkan Nama Mobil" th:if="${key} != null" th:value="${key}" />
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Nama</th>
                                        <th>Merk</th>
                                        <th>Tahun</th>
                                        <th>Warna</th>
                                        <th>Harga Jual</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    <tr th:each="car,iter : ${cars.content}">
                                        <td th:text="${car.name}"></td>
                                        <td th:text="${car.brand}"></td>
                                        <td th:text="${car.year}"></td>
                                        <td th:text="${car.color}"></td>
                                        <td>Rp. <span th:text="${#numbers.formatDecimal(car.priceSales, 0, 'COMMA', 2, 'POINT')}"></span></td>
                                        <td>
                                            <a href="#" class="btn btn-info" th:href="@{/car/form(id=${car.id})}" title="edit data mobil"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a href="#" class="btn btn-info" th:href="@{/car/delete(id=${car.id})}" title="hapus data mobil"><span class="glyphicon glyphicon-remove-circle remove-data"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:if="${not #lists.isEmpty(cars.content)}">
                            <br/>
                            <div class="text-center"> 
                                <nav>
                                    <ul class="pagination" sd:pagination="full">
                                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>