<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <style>
    </style>
    <script language="JavaScript">
        function print() {
            var pdf = new jsPDF('p', 'pt', 'letter');
            // source can be HTML-formatted string, or a reference
            // to an actual DOM element from which the text will be scraped.
            source = $('#container')[0];

            // we support special element handlers. Register them with jQuery-style
            // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
            // There is no support for any other type of selectors
            // (class, of compound) at this time.
            specialElementHandlers = {
                // element with id of "bypass" - jQuery style selector
                '#bypassme': function (element, renderer) {
                    // true = "handled elsewhere, bypass text extraction"
                    return true
                }
            };
            margins = {
                top: 30,
                bottom: 20,
                left: 20,
                width: 700
            };
            // all coords and widths are in jsPDF instance's declared units
            // 'inches' in this case
            pdf.fromHTML(
                source, // HTML string or DOM elem ref.
                margins.left, // x coord
                margins.top, { // y coord
                    'width': margins.width, // max width of content on PDF
                    'elementHandlers': specialElementHandlers
                },

                function (dispose) {
                    // dispose: object with X, Y of the last line add to the PDF
                    //          this allow the insertion of new lines after html
                    pdf.save('Data_Mobil.pdf');
                }, margins);
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
</head>
<body>
<div class="container" id="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered text-centered">
                <tbody>
                <!--<tr>-->
                    <!--<th colspan="5" style="text-align:center"><img th:src="@{/img/logo-aa.jpeg}"/></th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th colspan="5" style="text-align:center">WTC Mangga Dua Lt 3A no.91, Jakarta Utara - Indonesia</th>-->
                <!--</tr>-->
                <tr>
                    <th>Nama</th>
                    <th>Merk</th>
                    <th>Tahun</th>
                    <th>Warna</th>
                    <th>Harga Jual</th>
                </tr>
                <tr th:each="car,iter : ${data}">
                    <td th:text="${car.name}"></td>
                    <td th:text="${car.brand}"></td>
                    <td th:text="${car.year}"></td>
                    <td th:text="${car.color}"></td>
                    <td>Rp. <span th:text="${#numbers.formatDecimal(car.priceSales, 0, 'COMMA', 2, 'POINT')}"></span></td>
                </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary" onclick="print();">Print</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>